/* 

Some basic styling to get your page rolling - feel free to trash it all
Enjoy!

Paul Burgess - http://iampaulburgess.co.uk

*/

/* Every time */
/* ----------  Reset */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin:0; padding:0;}
/* ------------------------------ */


body {
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 62.5%; /* Resets 1em to 10px */
	background:#fff;
	margin:20px 20px 20px 60px;
	color:#000;
	}
.page {
	margin:0 auto;
	width:1030px;
	font-size:1.3em;
}
a img, img.frame {border: 1px solid #ccc;padding:2px;margin:3px}
a:hover img{border: 1px solid #999;padding:2px;}
a:hover{color: #222;border: 0px ;} /* Dummy definition to overcome IE bug */

a:link { color:#444;}
a:visited { color:#444;}
a:hover { color:#222;}
a:active { color:#222;}

.frame {
	padding:2px;
	border:1px solid #ccc;
}
.clear {
	clear:both;
}

#header {margin-bottom:10px;padding:10px 0;border-bottom:1px #666 dotted;}
#header h1 a {
 text-decoration:none;
}

ul#nav {
	margin:1em 0 0 0;
	padding:0;
	float:right;
}
ul#nav li {
	display:block;
	float:left;
	margin-right:1em;
}

#context p a:link, p#nav a:link { color:#444; text-decoration:none; padding:2px 4px 2px 4px;border:1px #333 solid;}
#context p a:visited, p#nav a:visited { color:#222; text-decoration:none; padding:2px 4px 2px 4px;border:1px #333 solid;}
#context p a:hover, p#nav a:hover{ color:#222; text-decoration:none; padding:2px 4px 2px 4px;border:1px #000 solid;}
#context p a:active, p#nav a:active{ color:#222; text-decoration:none; padding:2px 4px 2px 4px;border:1px #333 solid;}

.noimg {padding:5px 5px 5px 0}

h1, h2 {letter-spacing:-0.04em;line-height:1.05em;padding-bottom:5px;}

h1 {font-size:2.6em;margin:4px 0 5px 0}
h2 {font-size:1.8em;color:#666;margin:2px 0 5px 0}

p {font-size:1.2em;margin-bottom:10px;padding-top:5px;line-height:160%}

fieldset {
	border:none;
	margin:0;
	padding:0;
}

label {
	display:block;
	float:left;
	clear:both;
	width:10em;
	margin:1em 1em 0 0;
}
input, textarea, select {
	float:left;
	margin:1em 1em 0 0;
}
textarea {
	width:30em;
	height:10em;
}

div#photo p {width:500px;margin-top:20px}

p#nav {text-align:center;font-size:1.3em;margin-top:20px}
p#nav a {background:#eee;}

p.note {color:#666;font-size:1em;margin-top:10px}

div#context {width:175px;text-align:center;}

#footer {margin-top:15px;padding-top:10px;border-top:1px #666 dotted}

.thumbs { float:right; width:275px; list-style:none; margin: 0; padding: 0; }
.thumbs li { float:left; }
.thumbs li a { }
.thumbs li img { display: block; margin:5px; padding:2px; background:#fff; border:1px solid #ccc; }

#cycle { list-style:none; margin: 0; padding: 0; }
#cycle img { display:block; margin:0 auto; padding: 2px; background: #fff; border:1px solid #ccc; }

#largeImage {
	float:right;
	width:745px;
	text-align:center;
	margin:5px;
}
div#desc {
	font-size:85%;
	color:#999;
	text-align:left;
	margin:1em 0;
}