<div class="{{ page.class }} page">
<header id="header">
  <ul id="nav">
    <li><a href="{{ "/" | prepend: site.baseurl }}" title="Stephanie Robison">Home</a></li>
    <li><a href="{{ "/sculptures" | prepend: site.baseurl }}" title="Sculptures">Sculptures</a></li>
    <li><a href="{{ "/drawings" | prepend: site.baseurl }}" title="Drawings">Drawings</a></li>
    <li><a href="{{ "/site-specific" | prepend: site.baseurl }}" title="Site-Specific Work">Site-Specific Work</a></li>
    <li><a href="{{ "/bio" | prepend: site.baseurl }}" title="Bio">Bio</a></li>
    <li><a href="{{ "/files/SRobison_CV_2015.pdf" | prepend: site.baseurl }}" target="_blank" title="Cirriculum Vita">CV (PDF)</a></li>
    <li><a href="http://www.facebook.com/pages/Stephanie-Robison/139869204583" target="_blank" title="Find on Facebook">Facebook</a></li>
    <li><a href="mailto:stephanie@stephanierobison.com" title="Contact Stephanie Robison">Contact</a></li>
  </ul>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
</header>
